zone = "<exoscale zone>"
cluster_name = "<name of the sks cluster>"
cluster_cni = "<calico/cilium>"

nodepool_name = "<name of the nodepool>"
nodepool_instance_prefix = "<instance prefix (worker)>"
nodepool_size = 1
nodepool_disk_size = 20
nodepool_instance_type = "<standard.medium/standard.tiny>"